*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: aquamarine;
    flex-direction: column;
    align-items: center;
}
.title{
    margin-top: 20px;
    color: coral;
    text-align: center;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.col{
    display: flex;
    width: 1000px;
    justify-self: center;
    color: black;
    align-items: center;
}
input{
    width: 50%;
    background-color: yellow;
    border: 10px;
    height: 50px;
    font-size: 40px;
    text-align: center;
}
